<html>
<head>
    @*<link href="@Url.Content("~/Content/css/menu.css")" rel="stylesheet" type="text/css" />*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <header>
        <div class="menu" id="menu">
            <div class="menu-container" id="menu-container">
                <div class="perfil">
                    <div class="my-photo-wrapper">
                        <img class="my-photo" id="my-photo" src="/img/perfil.jpg" alt="My perfil photo" />
                    </div>
                    <p class="name" id="name">
                        matheus.assis
                    </p>
                </div>

                <div class="menu-items" id="menu-items">
                    <a class="menu-item" href="/">
                        sobre
                    </a>
                    <a class="menu-item" href="/">
                        projetos
                    </a>
                    <a class="menu-item" href="/">
                        contato
                    </a>
                </div>

                <div class="material-symbols-outlined" 
                     id="menu-button-mobile"
                     onclick="handleMobileMenu()"
                 >
                    menu
                </div>
            </div>
            <div class="menu-items-mobile" id="menu-items-mobile">
                <a class="menu-item" href="/">
                    sobre
                </a>
                <a class="menu-item" href="/">
                    projetos
                </a>
                <a class="menu-item" href="/">
                    contato
                </a>
            </div>
        </div>
    </header>

    @RenderBody()

    @*<footer>
    Rodapé
    </footer>*@
</body>
</html>


<style>
    body, head {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
    }

    body {
        margin: 0;
        background: #000000;
        color: white;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .menu {
        flex-wrap: wrap;
        display: flex;
        z-index: 10000;
    }

    .menu-container {
        display: flex;
        width: 100%;
        align-items: center;
        background: rgb(12, 12, 12);
        justify-content: space-between;
        padding: 20px;
    }

    .menu-items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .menu-items-mobile {
        padding: 15px;
        padding-top: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background: rgb(12, 12, 12);
        width: 100%;
        opacity: 0;
        height: 0;
    }

    #menu-button-mobile {
        display: none;
        cursor: pointer;
        transition: opacity .2s linear;
    }

    #menu-button-mobile:hover {
         opacity: 0.6;
    }

    .menu-item {
        align-items: center;
        justify-content: center;
        padding: 8px 12px;
        font-size: 16px;
        transition: opacity .2s linear;
        font-weight: 300;

    }

    .menu-item:hover {
        opacity: 0.6;
    }

    .perfil {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .name {
        font-weight: 700;
        font-size: 20px;
    }

    .my-photo-wrapper {
        display: flex;
    }

    .my-photo {
        border-radius: 100%;
        width: 60px;
        margin-right: 20px;
    }
</style>

<script>
    menuSwitch();
    window.onscroll = () => scrollFunction();
    window.addEventListener("resize", () => menuSwitch())

    function menuSwitch() {
        if (window.matchMedia("(min-width: 720px)").matches) {
            document.getElementById("menu-items").style.display = "flex";
            document.getElementById("menu-button-mobile").style.display = "none";

            document.getElementById("menu-items").style.flexDirection = "row";
            document.getElementById("menu-items").style.alignItems = "center";
            document.getElementById("menu-items").style.justifyContent = "center";

        } else {
            document.getElementById("menu-items").style.display = "none";
            document.getElementById("menu-button-mobile").style.display = "block";
        }
    }

    function handleMobileMenu() {
        let menu = document.getElementById("menu-items-mobile").style.opacity;
        if (menu === "1") {
            document.getElementById("menu-items-mobile").style.opacity = "0";
            document.getElementById("menu-items-mobile").style.height = "0";
            document.getElementById("menu-items-mobile").style.transition = "opacity .3s linear";
        } else {
            document.getElementById("menu-items-mobile").style.opacity = "1";
            document.getElementById("menu-items-mobile").style.height = "auto";
            document.getElementById("menu-items-mobile").style.transition = "opacity .3s linear";
        }
    }

    function scrollFunction() {
        if (document.body.scrollTop > 20) {
            document.getElementById("menu-container").style.padding = "0 20px"
            document.getElementById("menu-container").style.boxShadow = "0 1px 6px 0 rgb(0 0 0 / 15%)"
            document.getElementById("my-photo").style.width = "0"
            document.getElementById("my-photo").style.marginRight = "5px"

            document.getElementById("menu-container").style.transition = "background .5s linear, padding .3s linear";
            document.getElementById("my-photo").style.transition = "width .3s linear, margin .3s linear";
        }

        if (document.body.scrollTop < 20) {
            document.getElementById("menu-container").style.padding = "20px"
            document.getElementById("menu-container").style.boxShadow = "none"
            document.getElementById("my-photo").style.width = "60px"
            document.getElementById("my-photo").style.marginRight = "20px";

            document.getElementById("menu-container").style.transition = "background .5s linear, padding .3s linear";
            document.getElementById("my-photo").style.transition = "width .3s linear, margin .3s linear";
        }

        if (document.body.scrollTop > 580 && document.body.scrollTop < 800) {
            document.getElementById("menu-container").style.background = "rgb(0, 0, 0)"
        } else {
            document.getElementById("menu-container").style.background = "rgb(12, 12, 12)"
        }
    }

</script>