.about-external-container {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    filter: blur(0.7px);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: bottom;
    z-index: -2;
    background-image: url(../img/background.jpg);
    opacity: 0.48;
    box-shadow: inset 0 120px 120px -20px rgba(0,0,0,0.8);
}

.about-container {
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 70px;
}

.presentation {
    margin: 0 10%;
    max-width: 850px;
    text-align: center;
}

.presentation-text {
    font-weight: 300;
    color: #bfbfbf;
}

.about-top-divisor {
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0;
}

#about-body-container {
    padding: 0 10%;
    transition: opacity .2s linear;
    max-width: 900px;
}

.about-minified {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 165px;
    padding-bottom: 50px;
}

.about-title {
    margin: 0;
    text-align: right;
    font-size: 45px;
    font-weight: 200;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 165px;
}

.main-stack {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 140px;
    padding: 15px 30px;
    background-color: rgba(12,12,14,0.53);
    z-index: -1;
}

.main-stack-header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-stack-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.main-stack-title {
    font-weight: 200;
    color: #dfdfdf;
    font-size: 14px;
    margin: 0;
}

.main-stack-body {
    font-size: 22px;
    margin: 0;
    font-weight: 500;
}

.tech-icon {
    z-index: -1;
    height: 50px;
    transition: filter .2s linear;
}

.about-body {
    text-align: left;
    font-weight: 300;
    color: #bfbfbf;
}

.emphasis {
    font-weight: 500;
    color: #fff;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity .2s linear;
    gap: 30px;
}

.presentation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.gradient-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    height: 45px;
    transition: color .2s linear,border .2s linear;
    border: 1px solid #000;
    font-weight: 500;
    color: #fff;
    gap: 10px;
    line-height: 20px;
    background: linear-gradient(to right,#27006a,#541db1);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 3px;
    font-family: 'Poppins';
}

.outlined-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    height: 45px;
    transition: color .2s linear,border .2s linear;
    font-weight: 500;
    color: #fff;
    gap: 10px;
    line-height: 20px;
    border: 1px solid #323241;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 5px;
    -webkit-tap-highlight-color: transparent;
    background: transparent;
    font-family: 'Poppins';
}

.gradient-button:hover {
    border: 1px solid #a2a3af !important;
}

.outlined-button:hover {
    border: 1px solid #a2a3af;
}

.second-buttons {
    margin-top: 50px;
}

.second-button {
    width: auto;
    padding: 5px 15px;
    font-size: 15px;
}

    .second-button:hover {
        border: 1px solid #636369;
    }

.about-icon {
    height: 25px;
    filter: invert(.8);
}

.projects-icon {
    height: 25px;
    filter: invert(.8);
}

.inner-button {
    font-size: 15px;
}

.about-body-internal-container {
    margin: 40px 0 60px 0;
    max-width: 900px;
}

.about-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

    .skill p {
        font-size: 13px;
        font-weight: 500;
    }

.skill-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 17px;
    transform: skew(-.5rad);
    background: linear-gradient(to right,#27006a,#7b2dff);
    transition: all 2s ease;
    box-shadow: inset -610px 0 0 0 black;
}

.skill-bar-animation {
    box-shadow: inset 0 0 0 0 black;
}

.skill-bar div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 17px;
    width: 18%;
    border: solid 1px #4d4d4d;
}

.skill-gaps {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    height: 17px;
    width: 100%;
}

    .skill-gaps span {
        display: block;
        background: black;
        width: 2.5%;
        border-top: 4px solid black;
        border-bottom: 2px solid black;
    }

.skill-nolevel {
    background-color: black !important;
}

.about-certifications {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

    .about-certifications a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .2s ease-in-out;
    }

        .about-certifications a:hover {
            transform: scale(1.1);
        }

    .about-certifications img {
        height: 150px;
    }

@media(max-width: 1200px) {
    .about-title {
        font-size: 40px;
    }

    .main-stack-body {
        font-size: 18px;
    }

    .main-stack-title {
        font-size: 10px;
    }
}

@media(max-width: 900px) {
    .about-title {
        font-size: 2.1rem;
    }

    .medium-body {
        padding: 0 8%;
    }
}

@media(max-width: 768px) {
    #about-body-container {
        padding: 0 8%;
    }

    .about-minified {
        flex-direction: column;
        height: auto;
        gap: 30px;
        width: 100%;
        padding-bottom: 3rem;
    }

    .about-title {
        text-align: center;
        justify-content: center;
    }

    .about-container {
        padding: 0 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin-top: 30%;
        margin-bottom: 14%;
    }

    .about-external-container {
        height: auto;
        min-height: 100vh;
    }

    .main-stack {
        width: 100%;
        height: 200px;
    }

    .presentation-buttons {
        gap: 10%;
    }

    .main-stack-title {
        font-size: 15px !important;
    }

    .main-stack-body {
        font-size: 22px !important;
    }

    .main-stack-footer {
        gap: 20px;
    }

    .main-stack-header {
        gap: 5px;
    }

    .tech-icon {
        height: 60px;
    }

    .about-certifications a {
        width: 135px;
    }
}

.margin-top {
    margin-top: 30px;
}

.gradient-external-container {
    background: linear-gradient(to left,#060708,#242430);
    padding-top: 40px;
    padding-bottom: 40px;
}

.gradient-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.timeline-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 15px;
    position: relative;
}

.timeline-exp-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.timeline-exp {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 54px;
}

.timeline-exp-title {
    flex-grow: 4;
    flex-basis: 0;
    text-align: left;
    width: 520px;
    font-weight: 200;
    height: 27px;
    font-size: 18px;
}

.timeline-exp-subtitle {
    font-size: 14px;
    color: #ababab;
    margin-top: 2px;
}

.timeline-exp-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    flex-basis: 0;
    font-weight: 200;
    font-size: 14px;
    max-width: 100px;
    min-width: 100px;
    height: 20px;
    line-height: 20px;
    gap: 6px;
}

.timeline-exp-circle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    left: 120px;
}

.labsit-border-circle {
    border: 2px solid #d500d3;
}

.labsit-full-circle {
    background: #d500d3;
    border: 2px solid #d500d3;
    -webkit-box-shadow: 0 0 15px 10px rgba(213,0,211,.3);
    -moz-box-shadow: 0 0 15px 10px rgba(213,0,211,.3);
    box-shadow: 0 0 15px 10px rgba(213,0,211,.3);
}

.fitbank-border-circle {
    border: 2px solid #4901ef;
}

.fitbank-full-circle {
    background: #4901ef;
    border: 2px solid #4901ef;
}

.timeline-company {
    width: 143px;
    height: 40px;
    background-color: #262936;
    position: absolute;
    bottom: 0;
    left: 132px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #d5d2d2;
    font-weight: 500;
    padding-right: 15px;
    gap: 12px;
    transition: color .2s linear,border .2s linear;
    cursor: pointer;
    border: 1px solid transparent;
    border-left: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.company-icon {
    opacity: .8;
    transition: color .2s linear;
}

.mini-out-logo {
    height: 12px;
    filter: invert(.8);
    margin-left: 8px;
}

.timeline-company:hover {
    color: #fff;
    border: 1px solid #a2a3af;
    border-left: 0;
}

    .timeline-company:hover + .company-icon {
        color: #fff !important;
    }

.timeline-bar {
    width: 2px;
    height: 120px;
    background-color: #dfdfdf;
    left: 125.6px;
    position: relative;
}

.timeline-arrow {
    height: 11px;
    filter: invert();
    margin-right: 8px;
    width: 11px;
    opacity: 0.5;
}

.labsit-bar {
    background-color: #d500d3;
}

.labsit-arrow {
    border-right: 11px solid #d500d3;
}

.fitbank-bar {
    background-color: #4901ef;
}

.fitbank-arrow {
    border-right: 11px solid #4901ef;
}

.timeline-company-arrow {
    width: 0;
    height: 0;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    transform: rotate(180deg);
}

.timeline-exp-attributions {
}

.timeline-exp-attributions p {
    font-size: 15px;
    margin-top: 2em;
    color: #fff;
}

    .timeline-exp-attributions ul {
        font-size: 14px;
        padding-inline-start: 15px;
        color: #ababab;
    }

li:not(:last-child) {
    margin-bottom: 4px !important;
}

.black-external-container {
    padding-top: 40px;
    padding-bottom: 70px;
}

.black-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.medium-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 40px;
}

.medium-card {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    max-width: 45rem;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    transition: opacity linear .2s;
    user-select: none;
    cursor: pointer;
}

.medium-card-divisor {
    width: 100%;
    border-bottom: 2px solid #1b1b20;
}

.medium-card-img {
    height: 6rem;
    min-width: 6rem;
    max-width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .medium-card-img img {
        height: 6rem;
    }

.medium-card-title {
    margin-bottom: 10px;
    display: block;
}

.medium-card:hover, .medium-card:focus {
    opacity: .6;
}

.medium-card-description {
    font-size: 13px;
    color: #ababab;
    display: block;
}

.medium-card-date {
    font-size: 12px;
    color: #ababab;
    margin-top: 15px;
    display: block;
}

.courses-body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 15px;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 960px;
}

.course-card {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    width: 300px;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
    font-size: 13px;
    transition: all .2s ease-in-out;
    position: relative;
}

    .course-card:hover {
        transform: scale(1.1);
    }

.course-certificate {
    position: relative;
    height: 135px;
}

.course-tag {
    padding: 5px 8px;
    background: #343445e0;
    position: absolute;
    font-weight: 300;
    bottom: 5%;
    right: 3%;
    z-index: 1;
    border-radius: 30px;
    letter-spacing: 1px;
}

.course-certificate-front-shadow {
    height: 135px;
    width: 300px;
    position: absolute;
    background: linear-gradient(to bottom,transparent,#000);
    opacity: 0.7;
}

.course-certificate img {
    height: 135px;
    width: 300px;
    object-fit: cover;
    object-position: top;
}

.course-title {
    background-color: #2e2e3d69;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px 0px 15px;
}

.course-body {
    display: flex;
    flex-direction: column;
    background-color: #2e2e3d69;
    padding: 15px;
    gap: 10px;
}

    .course-body div {
        display: flex;
        align-items: center;
        gap: 10px;
        opacity: 0.7;
        line-height: 21px;
        transition: opacity .2s linear;
    }

        .course-body div:hover {
            opacity: 1;
        }

    .course-body img {
        height: 21px;
    }

.more-text {
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin: 4px;
}

.more {
    margin-top: 25px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #5a5a6682;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: opacity linear .2s;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

    .more:hover, .more:focus {
        opacity: 0.6;
    }

.material-symbols-outlined {
    color: #ceced3;
}

@media(max-width: 768px) {
    .timeline-exp-title {
        font-size: 14px;
        width: 240px;
        height: 20px;
    }

    .timeline-exp-subtitle {
        font-size: 11px;
    }

    .timeline-exp-date {
        font-size: 11px;
        max-width: 67px;
        min-width: 67px;
    }

    .timeline-body {
        padding: 0 6%;
    }

    .timeline-bar {
        left: 93px;
    }

    .timeline-company {
        width: 125px;
        height: 35px;
        left: 109px;
        font-size: 13px;
    }

    .timeline-company-arrow {
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
    }

    .timeline-exp-circle {
        left: 87px;
    }

    .timeline-exp-attributions p {
        font-size: 13px;
    }

    .timeline-exp-attributions ul {
        font-size: 11px;
    }

    li:not(:last-child) {
        margin-bottom: 2px !important;
    }

    .company-icon {
        font-size: 18px;
    }

    .courses-body, .medium-body {
        padding: 0 8%;
    }

    .course-certificate-front-shadow {
        height: 160px;
    }

    .course-certificate img {
        height: 160px;
    }

    .course-certificate {
        height: 160px;
    }
}