.about-external-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.about-container {
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 70px;
}

.presentation {
    margin: 0 10%;
    max-width: 850px;
    text-align: center;
}

.presentation-text {
    font-weight: 200;
}

#about-body-container {
    padding: 0 10%;
    opacity: 0;
    display: none;
    transition: opacity .2s linear;
    max-width: 1100px;
}

.about-minified {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 165px;
    padding-bottom: 50px;
    /*-webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;*/
}

.about-title {
    margin: 0;
    text-align: right;
    font-size: 45px;
    font-weight: 200;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 165px;
}

.main-stack {
    display: flex;
    background: linear-gradient(to right, #070808, #242430);
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 140px;
    padding: 15px 30px;
    background-color: #0c0c0c;
    z-index: -1;
}

.main-stack-header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-stack-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.main-stack-title {
    font-weight: 200;
    color: #dfdfdf;
    font-size: 14px;
    margin: 0;
}

.main-stack-body {
    font-size: 22px;
    margin: 0;
    font-weight: 500;
}

.tech-icon {
    z-index: -1;
    height: 50px;
    transition: filter .2s linear;
}

.about-body {
    text-align: left;
    font-weight: 200;
    color: #dfdfdf;
}

.emphasis {
    font-weight: 500;
    color: white;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity .2s linear;
    gap: 30px;
}

.presentation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    height: 40px;
    transition: color .2s linear, border .2s linear;
    border: 1px solid black;
    font-weight: 500;
    color: white;
    gap: 10px;
    line-height: 20px;
    background: linear-gradient(to right, #27006a, #541db1);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 3px;
}

.projects-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    height: 40px;
    transition: color .2s linear, border .2s linear;
    font-weight: 500;
    color: white;
    gap: 10px;
    line-height: 20px;
    border: 1px solid #363639;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 5px;
    -webkit-tap-highlight-color: transparent;
}

.about-button:hover {
    border: 1px solid #a2a3af;
}

.projects-button:hover {
    border: 1px solid #636369;
}

.second-buttons {
    margin-top: 40px;
}

.second-button {
    width: auto;
    padding: 5px 15px;
    font-size: 15px;
}

.about-icon {
    height: 25px;
    filter: invert(0.8);
}

.projects-icon {
    height: 25px;
    filter: invert(0.8);
}

.inner-button {
    font-size: 15px;
}

@media (max-width: 1200px) {
    .about-title {
        font-size: 40px;
    }

    .main-stack-body {
        font-size: 18px;
    }

    .main-stack-title {
        font-size: 10px;
    }
}

@media (max-width: 900px) {
    .about-title {
        font-size: 35px;
    }
}

@media (max-width: 800px) {
    .about-title {
        font-size: 32px;
    }
}

@media (max-width: 720px) {
    #about-body-container {
        padding: 0 8%;
    }

    .about-minified {
        flex-direction: column;
        height: auto;
        gap: 10px;
        width: 100%;
        padding-bottom: 30px;
    }

    .about-title {
        text-align: left;
        justify-content: center;
    }

    .about-container {
        padding: 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 26%;
        margin-bottom: 14%;
    }

    .about-external-container {
        height: auto;
        min-height: auto;
    }

    .main-stack {
        width: 100%;
        height: 200px;
    }

    .presentation-buttons {
        gap: 10%;
    }

    .main-stack-title {
        font-size: 15px !important;
    }

    .main-stack-body {
        font-size: 22px !important;
    }

    .main-stack-footer {
        gap: 20px;
    }

    .main-stack-header {
        gap: 5px;
    }

    .tech-icon {
        height: 60px;
    }
}

.margin-top {
    margin-top: 30px;
}

.timeline-external-container {
    background: linear-gradient(to left, #060708, #242430);
    padding-top: 40px;
    padding-bottom: 70px;
}

.timeline-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.mini-title {
    color: #ababab;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 2;
}

.timeline-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.timeline-exp-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.timeline-exp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.timeline-exp-title {
    flex-grow: 1;
    flex-basis: 0;
    text-align: left;
    width: 320px;
    font-weight: 200;
    height: 27px;
    font-size: 18px;
}

.timeline-exp-subtitle {
    font-size: 14px;
    color: #ababab;
    margin-top: 2px;
}

.timeline-exp-date {
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
    font-weight: 200;
    font-size: 18px;
}

.timeline-exp-circle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.labsit-border-circle {
    border: 2px solid #d500d3;
}

.labsit-full-circle {
    background: #d500d3;
    border: 2px solid #d500d3;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(213, 0, 211, 0.3);
    -moz-box-shadow: 0px 0px 15px 10px rgba(213, 0, 211, 0.3);
    box-shadow: 0px 0px 15px 10px rgba(213, 0, 211, 0.3);
}

.fitbank-border-circle {
    border: 2px solid #231891;
}

.fitbank-full-circle {
    background: #231891;
    border: 2px solid #231891;
}

.timeline-company {
    width: 143px;
    height: 40px;
    background-color: #262936;
    position: absolute;
    bottom: 0;
    margin-left: -155.5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #b8b8b9;
    font-weight: 500;
    justify-content: inherit;
    padding-left: 10px;
    gap: 15px;
    transition: color .2s linear, border .2s linear;
    cursor: pointer;
    border: 1px solid #424248;
    border-right: 0px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.company-icon {
    opacity: 0.8;
    transition: opacity .2s linear;
}

.mini-out-logo {
    height: 12px;
    filter: invert(0.8);
}

.timeline-company:hover {
    color: white;
    border: 1px solid #b0b0bf;
    border-right: 0px;
}

    .timeline-company:hover + .company-icon {
        opacity: 1;
    }

.timeline-bar {
    width: 2px;
    height: 120px;
    background-color: #dfdfdf;
}

.labsit-bar {
    background-color: #d500d3;
}

.labsit-arrow {
    border-right: 11px solid #d500d3;
}

.fitbank-bar {
    background-color: #231891;
}

.fitbank-arrow {
    border-right: 11px solid #231891;
}

.timeline-company-arrow {
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 21px solid transparent;
}

@media (max-width: 720px) {
    .timeline-exp-title {
        font-size: 14px;
        width: 180px;
        height: 20px;
    }

    .timeline-exp-subtitle {
        font-size: 11px;
    }

    .timeline-exp-date {
        font-size: 14px;
        height: 20px;
    }

    .timeline-body {
        padding: 0 10%;
    }
}