body, head {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

header {
    position: fixed;
    width: 100%;
    top: -5;
    z-index: 10000;
}

body {
    margin: 0;
    background: #000000;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.body-footer-container {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

.menu {
    flex-wrap: wrap;
    display: flex;
    z-index: 10000;
}

.menu-container {
    display: flex;
    width: 100%;
    align-items: center;
    background: rgb(0, 0, 0);
    justify-content: space-between;
    padding: 20px;
    z-index: 10000;
    border-bottom: 0px solid rgba(210, 213, 255, 0.3);
}

.menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#menu-items {
}

.menu-mobile {
    padding: 15px;
    padding-top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    background: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    opacity: 0;
    display: none;
    border-bottom: 1px solid rgba(210, 213, 255, 0.3);
    padding-bottom: 25px;
}

.menu-items-mobile {
    display: flex;
    flex-direction: column;
}

#menu-button-mobile {
    display: none;
    cursor: pointer;
    transition: opacity .2s linear;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

    #menu-button-mobile:hover, #menu-button-mobile:active {
        opacity: 0.6;
    }

.menu-item {
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    font-size: 18px;
    transition: opacity .2s linear;
    font-weight: 300;
    -webkit-tap-highlight-color: transparent;
}

    .menu-item:hover, .menu-item:active {
        opacity: 0.6;
    }

.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.name {
    font-weight: 700;
    font-size: 25px;
}

.name::after {
    content: ".dev";
    font-weight: 700;
    background: -webkit-linear-gradient(right,#a932e3,#6325f9);
    background: -o-linear-gradient(left,#a932e3,#6325f9);
    background: -moz-linear-gradient(left,#a932e3,#6325f9);
    background: linear-gradient(to left,#a932e3,#6325f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-photo-wrapper {
    display: flex;
    cursor: pointer;
}

.my-photo {
    border-radius: 100%;
    width: 5rem;
    margin-right: 20px;
}

.menu-languages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 20px;
}

.menu-languages-mobile {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    height: 100%;
    margin-right: 10px;
}

.language-link {
    -webkit-tap-highlight-color: transparent;
}

.menu-language-flag {
    height: 28px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: opacity .2s linear;
    -webkit-tap-highlight-color: transparent;
}

    .menu-language-flag:hover, .menu-language-flag:active {
        opacity: 1;
    }

.menu-language-flag-active {
    opacity: 1;
}

@media screen and (max-width: 720px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
    }

    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: hidden;
        max-width: 100%;
    }

    html {
        max-width: 100%;
        overflow-x: hidden;
    }

    .menu-item {
        font-size: 20px;
    }

    .name {
        font-size: 20px;
    }

    .menu-language-flag {
        height: 38px;
    }
}

.contact-external-container {
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    column-gap: 40px;
    row-gap: 30px;
    background: linear-gradient(to right, #060708, #242430);
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 30px;
}

.mini-title {
    color: #caccd9;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 2;
}

.mini-footer {
    text-align: center;
    font-size: 14px;
    color: #c1c1c7;
    font-weight: 200;
    margin: 0 10%;
    margin-top: 50px;
}

    .mini-footer img {
        margin-top: 10px;
        filter: invert(1);
        opacity: 0.3;
    }

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    color: #dfdfdf;
    cursor: pointer;
    height: 45px;
    padding: 0 12px;
    transition: background .2s linear;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.email {
    font-size: 15px;
    cursor: text;
    user-select: text;
}

.contact:hover {
    background: rgba(42, 48, 74, 0.42);
}

.contact-logo {
    height: 25px;
    filter: invert(0.7);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.out-logo {
    height: 14px;
    filter: invert(0.7);
    margin-left: -8px;
    opacity: 0.5;
}

.copy-img {
    -webkit-tap-highlight-color: transparent;
    height: 22px;
    filter: invert(0.7);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-left: -8px;
    transition: filter .2s linear;
}

    .copy-img:hover, .copy-img:active, .copy-img:focus {
        filter: invert(1);
    }

@media (max-width: 720px) {
    .contact-container {
        flex-direction: column;
        gap: 30px;
    }

    .contact-external-container {
        gap: 30px;
    }

    .medium-card-img {
        height: 5rem;
        min-width: 5rem;
        max-width: 5rem;
    }

    .medium-card-img img {
        height: 5rem;
    }
}