@using MyPage.Application.Data.Entities;
@using MyPage.Application.Helpers;
@using MyPage.Application.Models.Courses;
@using MyPage.Application.Models.Pages;
@using MyPage.Application.Models.Enums;
@model CoursesPageModel

@{
    var isAuthenticated = User.Identity?.IsAuthenticated ?? false;
}

@if (ViewBag.Message != null)
{
    <script>
        window.onload = () => {
            alert('@ViewBag.Message');
        }
    </script>
}

<div class="courses-page-external-container">
    <div class="mini-title">@LanguageResource["CoursesTitle"]
        @if (LanguageResource["Culture"] == "en_US")
        {
            <div class="mini-sub-title-courses">(titles were translated)</div>
        }
    </div>
    <div class="courses-page-container">
        @if (isAuthenticated)
        {
            <div class="admin-section">
                <span>
                    <img src="~/img/admin.svg" loading="lazy" alt="admin" />
                    Admin
                </span>
                <span>
                    <a asp-controller="Courses" asp-action="Add" class="simple-button">
                        <img src="~/img/add.svg" loading="lazy" alt="add" />
                        <div class="inner-button">add course</div>
                    </a>
                    <a asp-controller="Courses" asp-action="ClearCache" class="simple-button">
                        <img src="~/img/clear-cache.svg" loading="lazy" alt="cache" />
                        <div class="inner-button">clear cache</div>
                    </a>
                </span>
            </div>
        }
        else
        {
            @*<p>@(Model.CourseCertificateList.Count) completed courses.</p>*@
        }
        @{
            var courseList = isAuthenticated ? Model.CourseCertificateList : Model.CourseCertificateList.Where(x => x.IsVisible);
            foreach (var courseCertificate in courseList)
            {
                await Html.RenderPartialAsync("_CourseCard", courseCertificate);
            }
        }
    </div>
</div>